<script>
    function editComics(id, Name, Author, Description,TT) {
        document.getElementById("UpdateComicID").value = id;
        document.getElementById("UpdateComicName").value = Name;
        document.getElementById("updateAuthor").value = Author;
        document.getElementById("updateDescription").value = Description+"";
        if (TT.toString() === "true") {
            document.getElementById("updateTT").value = "true";
        } else {
            document.getElementById("updateTT").value = "false";
        }
    }

    function addContentComics(id, Name) {
        document.getElementById("AddContentID").value = id;
        document.getElementById("AddContentName").value = Name;
    }

    function deleteComics(id) {
        document.getElementById("DpInputID").value = id;
    }
</script>



<div class="content">

    {{#if msg}}
        <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
            <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
            </symbol>
        </svg>
        <p>{{{msg}}}</p>
    {{/if}}
    <div style="width: 100%">
        <form action="/comics/search" class="d-flex mb-4 mt-3" method="POST" style="width: 500px;margin: auto">
            <input class="form-control me-2" type="search" placeholder="Tìm kiếm truyện" aria-label="Search" name="searchComic">
            <button class="btn btn-outline-success" type="submit" style="width: 150px">Tìm Kiếm</button>
        </form>
    </div>
    <div class="row" style="display: contents;">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Tên sản phảm</th>
                <th scope="col">Ảnh</th>
                <th scope="col">Nguồn gốc</th>
                <th scope="col">Giá sản phảm</th>
                <th scope="col">Trạng Thái</th>
            </tr>
            </thead>
            <tbody>
            {{#each comics}}
                <tr>
                    <th scope="col">{{this.Name}}</th>
                    <th scope="col"><img style="width: 50px;height: 50px" src="{{this.Logo}}"
                                         class="card-img-top card-img-top mt-2" alt="{{this.Name}}"></th>
                    <th scope="col">{{this.Author}}</th>
                    <th scope="col"><a
                            class="btn btn-primary mb-1"
                            href="comics/view/{{this._id}}"
                    >
                        Quản lý chương truyện
                    </a></th>
                    <th scope="col" class="text-success">Đã Duyệt</th>

                    <td class="col-1 text-center">

                        <button
                                type="button"
                                class="btn btn-primary mb-1"
                                data-bs-toggle="modal"
                                data-bs-target="#updateModal"
                                onclick="editComics('{{this._id}}','{{this.Name}}' , '{{this.Author}}', '{{this.Description}}', '{{this.TrangThai}}')"
                        >
                            Sửa
                        </button>

                        <button
                                type="button"
                                class="btn btn-primary"
                                data-bs-toggle="modal"
                                data-bs-target="#DeleteModal"
                                onclick="deleteComics('{{this._id}}')"
                        >
                            Xóa
                        </button>
                    </td>
                </tr>
            {{/each}}
            </tbody>
        </table>
        <!-- Button add-->
        <div class="row" style="margin: auto;">
            <button
                    type="button"
                    class="btn btn-primary"
                    data-bs-toggle="modal"
                    data-bs-target="#exampleModal"
            >
                Thêm Truyện
            </button>
        </div>
        <!--  add-->
        <div
                class="modal fade"
                id="exampleModal"
                tabindex="-1"
                aria-labelledby="exampleModalLabel"
                aria-hidden="true"
        >
            <div class="modal-dialog">

                <form action="/comics/add" method="POST" autocomplete="off" accept-charset="UTF-8"
                      enctype="multipart/form-data">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Thêm Truyện</h5>
                            <button
                                    type="button"
                                    class="btn-close"
                                    data-bs-dismiss="modal"
                                    aria-label="Close"
                            ></button>
                        </div>
                        <div class="modal-body">
                            <div class="col-auto">

                                <div class="mb-3 row">
                                    <label for="InputTen" class="col-sm-3 col-form-label">Tên truyện</label>
                                    <div class="col-sm-9">
                                        <input
                                                type="text"
                                                name="Name"
                                                class="form-control text-dark"
                                                id="InputName"
                                                placeholder="Name Comic"
                                                required
                                        />
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="formFile" class="form-label">Logo</label>
                                    <input class="form-control" type="file" id="InputLogo" name="Logo">
                                </div>
                                <div class="mb-3 row">
                                    <label for="InputAuthor" class="col-sm-3 col-form-label">Tác giả</label>
                                    <div class="col-sm-9">
                                        <input
                                                name="Author"
                                                type="text"
                                                class="form-control text-dark"
                                                id="InputAuthor"
                                                placeholder="Tác giả"
                                                required
                                        />
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label for="Category" class="col-sm-12 col-form-label">Thể loại
                                        <p class="text-danger">(lưu ý mỗi thể loại cách nhau bằng dấu ";")</p></label>
                                    <div class="col-sm-12">
                                        <input
                                                name="Category"
                                                type="text"
                                                class="form-control text-dark"
                                                id="Category"
                                                placeholder="Thể loại"
                                                required
                                        />
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label
                                            for="AddDate"
                                            class="col-sm-3 col-form-label"
                                    >Ngày đăng</label>
                                    <div class="col-sm-9"><input type="date" id="DateUp" name="DateUp"
                                                                 class="form-control text-dark"
                                                                 required>
                                    </div>
                                </div>


                                <div class="mb-3">
                                    <label for="InputDescription" class="form-label">Mô tả</label>
                                    <textarea class="form-control" id="Description"
                                              name="Description" required></textarea>
                                </div>
                                <div class="mb-1 row ">
                                    <label class="col-sm-3 col-form-label" >Tình trạng</label>
                                    <div class="col-sm-9 col-form-label form-select-lg">
                                        <label>
                                            <select id="idTTAdd" name="TTAdd">
                                                <option value="true" class="text-success">Đã duyệt</option>
                                                <option value="false" class="text-danger">Chưa duyệt</option>
                                            </select>
                                        </label>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button
                                    type="button"
                                    class="btn btn-secondary"
                                    data-bs-dismiss="modal"
                            >Đóng
                            </button>
                            <button
                                    type="submit"
                                    class="btn btn-primary"
                                    data-bs-dismiss="modal"
                            >Thêm
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!--update-->
        <div
                class="modal update"
                id="updateModal"
                tabindex="-1"
                aria-labelledby="exampleModalLabel"
                aria-hidden="true"
        >
            <div class="modal-dialog">
                <form action="/comics/update" method="POST" autocomplete="off" accept-charset="UTF-8">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Sửa truyện</h5>
                            <button
                                    type="button"
                                    class="btn-close"
                                    data-bs-dismiss="modal"
                                    aria-label="Close"
                            ></button>
                        </div>
                        <div class="modal-body">
                            <div class="col-auto">
                                <div class="mb-3 row">
                                    <label for="UpdateComicID" class="col-sm-2 col-form-label">ID:</label>
                                    <div class="col-sm-10">
                                        <input

                                                name="UpdateComicID1"
                                                type="text"
                                                class="form-control text-dark"
                                                id="UpdateComicID"
                                                placeholder="ID"
                                        />
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label for="UpdateComicName" class="col-sm-3 col-form-label">Tên truyện</label>
                                    <div class="col-sm-9">
                                        <input
                                                type="text"
                                                name="UpdateComicName"
                                                class="form-control text-dark"
                                                id="UpdateComicName"
                                                placeholder="Name Comic"
                                        />
                                    </div>
                                </div>
<!--                                <div class="mb-3">-->
<!--                                    <label for="formFile" class="form-label">Logo</label>-->
<!--                                    <input class="form-control" type="file" id="updateLogo" name="updateLogo">-->
<!--                                </div>-->
                                <div class="mb-3 row">
                                    <label for="InputAuthor" class="col-sm-3 col-form-label">Tác giả</label>
                                    <div class="col-sm-9">
                                        <input
                                                name="updateAuthor"
                                                type="text"
                                                class="form-control text-dark"
                                                id="updateAuthor"
                                                placeholder="author"
                                        />
                                    </div>
                                </div>


                                <div class="mb-3">
                                    <label for="InputDescription" class="form-label">Mô tả</label>
                                    <textarea class="form-control" id="updateDescription"
                                              name="updateDescription"></textarea>
                                </div>
                                <div class="mb-1 row ">
                                    <label class="col-sm-3 col-form-label" >Tình trạng</label>
                                    <div class="col-sm-9 col-form-label form-select-lg">
                                        <label>
                                            <select id="updateTT" name="updateTT">
                                                <option value="true" class="text-success">Đã duyệt</option>
                                                <option value="false" class="text-danger">Chưa duyệt</option>
                                            </select>
                                        </label>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button
                                    type="button"
                                    class="btn btn-secondary"
                                    data-bs-dismiss="modal"
                            >Đóng
                            </button>
                            <button
                                    type="submit"
                                    class="btn btn-primary"
                                    data-bs-dismiss="modal"
                            >Sửa
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!--Delete-->
        <div
                class="modal fade"
                id="DeleteModal"
                tabindex="-1"
                aria-labelledby="exampleModalLabel"
                aria-hidden="true"
        >
            <div class="modal-dialog">
                <form action="/comics/delete" method="POST" autocomplete="off">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Xóa!</h5>
                            <button
                                    type="button"
                                    class="btn-close"
                                    data-bs-dismiss="modal"
                                    aria-label="Close"
                            ></button>
                        </div>
                        <div class="modal-body">
                            <div class="col-auto">
                                <div class="mb-3 row">
                                    <label for="DpInputID" class="col-sm-2 col-form-label">ID:</label>
                                    <div class="col-sm-10">
                                        <input
                                                readonly
                                                name="DpInputID"
                                                type="text"
                                                class="form-control text-dark"
                                                id="DpInputID"
                                                placeholder="ID"
                                        />
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button
                                            type="button"
                                            class="btn btn-secondary"
                                            data-bs-dismiss="modal"
                                    >Đóng
                                    </button>
                                    <button
                                            type="submit"
                                            class="btn btn-primary"
                                            data-bs-dismiss="modal"
                                    >Xóa
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
